# Node.js dependencies
/node_modules/

# Logs
*.log
logs/
*.pid

# Environment files
.env
.env.*

# Build and coverage directories
/build/
/coverage/

# Temporary files
*.tmp
*.swp
*.swo

# Database files
*.sqlite
*.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build output
/dist/
/out/
*.gz
*.zip

# Package lock files
package-lock.json
yarn.lock

# Test results
/test-results/
